body {
    margin: 0;
    font-family: Arial, sans-serif; 
    background-color: #f5f5f5; 
    color: #333;
    line-height: 1.6; /* Improve text readability */
}

.main {
    position: relative; /* Enable positioning for child elements */
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
    min-height: 100vh; /* Make the container take the full viewport height */
    background: url('../media/pexels-karolina-grabowska-4033634 (2).jpg') no-repeat center center/cover; /* Set image as background */
    padding: 20px; /* Add padding for better aesthetics */
}

form label{
    display: block;
    font-weight: bold;
    color:#555;
    margin-top: 20px;
    margin-bottom: 8px;
}
/* Input fields */
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
form textarea[type="text"] {
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Image input styling */
form input[type="image"] {
    display: block;
    margin: 10px 0;
    max-width: 100%; /* Ensures image fits within the form */
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

/* Submit button */
form input[type="submit"] {
    background-color: rgb(186, 92, 58);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.home{
    background-color: rgb(186, 92, 58);
    text-decoration: none;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:40px
}
.home :hover{
    background-color: #4b6889;

    color:white;
}
form input[type="submit"]:hover {
    background-color: #4b6889;
    color:black;
}


@media (max-width: 768px) {
    .main {
        padding: 20px;
    }

    form {
        padding: 15px;
    }
}
